
{{#each stations}}
  <section class="ui segment">
    <h2 class="ui header">
      {{name}}
    </h2>
    <div class="ui grid">
      <div class="stretched five column row">
        <! –– Tile 1 -->
        <div class="column">
          <div class="ui inverted segment">
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment">({{@index}}){{name}} </div>
                </div>
                <div class="column">
                  <div class="ui inverted segment" data-tooltip="Click icon to map GPS location in new window.">
                    <a href="https://www.google.ie/maps/place/{{latitude}},{{longitude}}"
                       target="_blank">
                      <i class="big map marker icon blue"> </i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="stretched one column row">
                <div class="column">
                  <div class="ui inverted segment">
                                <span class="ui inverted blue text">
                                    Lat: {{latitude}} <br>
                                    Lon: {{longitude}}
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <! –– Tile 2 -->
        <div class="column">
          <div class="ui inverted segment">
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment"> Weather</div>
                </div>
                <div class="column">
                  <div class="ui inverted segment"><i class="big cloud sun icon"></i></div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="stretched one column row">
                <div class="column">
                  <div class="ui inverted segment">
                    <span class="ui inverted blue text">{{current_summery}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <! –– Tile 3 -->
        <div class="column">
          <div class="ui inverted segment">
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment"> Temp</div>
                </div>
                <div class="column">
                  <div class="ui inverted segment">
                    <i class="big temperature low icon white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment"><span class="ui inverted blue text">{{current_temp_c}}
                    Deg C {{current_temp_c}} Deg F </span>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted segment">
                    {{#if trend_temp_up}}
                      <i class="big arrow up icon"></i>
                    {{/if}}
                    {{#if trend_temp_down}}
                      <i class="big arrow down icon"></i>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui grid">
              <div class="stretched one column row">
                <div class="column">
                  <div class="ui inverted segment">
                    <span class="ui inverted blue text"> Min : {{current_temp_min}}</span><br>
                    <span class="ui inverted blue text"> Max : {{current_temp_max}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <! –– Tile 4 -->
        <div class="column">
          <div class="ui inverted segment">
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment"> Wind</div>
                </div>
                <div class="column">
                  <div class="ui inverted segment"><i class="big wind icon green"></i></div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment">
                                <span class="ui inverted blue text">
                                  {{current_windSpeed}}
                                </span>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted segment">
                    {{#if trend_wind_up}}
                      <i class="big arrow up icon"></i>
                    {{/if}}
                    {{#if trend_wind_down}}
                      <i class="big arrow down icon"></i>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui grid">
              <div class="stretched one column row">
                <div class="column">
                  <div class="ui inverted segment">
                                <span class="ui inverted blue text">
                                  <br>
                                  <br>
                                 Min : {{current_windSpeed_min}}<br>Max : {{current_windSpeed_max}}<br>
                                </span>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted segment">
                                <span class="ui inverted blue text">
                                  Direction: {{current_windDirection}}
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <! –– Tile 5 -->
        <div class="column">
          <div class="ui inverted segment">
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment"> Pressure</div>
                </div>
                <div class="column">
                  <div class="ui inverted segment"><i class="big dice d20 icon orange"></i></div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="stretched two column row">
                <div class="column">
                  <div class="ui inverted segment">
                                 <span class="ui inverted blue text">
                                   {{current_pressure}}
                                 </span>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted segment">
                    {{#if trend_pressure_up}}
                      <i class="big arrow up icon"></i>
                    {{/if}}
                    {{#if trend_pressure_down}}
                      <i class="big arrow down icon"></i>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui grid">
              <div class="stretched one column row">
                <div class="column">
                  <div class="ui inverted segment">
                                <span class="ui inverted blue text">
                                    Min : {{current_pressure_min}}<br>
                                     Max : {{current_pressure_max}}
                                </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <! –– ----- -->
      </div>
    </div>
    <p>Click for Details</p>
    <a href="/station/{{id}}" class="ui icon button"> <i class="folder open icon"></i> </a>
    <a href="/deleteStation/{{id}}" class="ui icon button"> <i class="trash icon"></i> </a>
  </section>
{{/each}}