<div class="ui raised segment" id="chart">

  <script>
    let dataTemp = {
      labels: [
        {{#each  station.readings}}
          "{{readingDate}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature",
          type: "line",
          values: [
            {{#each  station.readings}}
              {{temperature}},
            {{/each}}
          ]
        }
      ]
    };
    let dataPressure = {
      labels: [
        {{#each  station.readings}}
          "{{readingDate}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Pressure-1000",
          type: "line",
          values: [
            {{#each  station.readings}}
              ({{pressure}} - 1000 ), // -1000 is a scaling workaround for the fact that Frappe charts normalizes the Y Axis.
                                      // scaling pressures to 1000 kPa intervals and hiding the trends
            {{/each}}
          ]
        }
      ]
    };
    let dataWind = {
      labels: [
        {{#each  station.readings}}
          "{{readingDate}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Wind",
          type: "line",
          values: [
            {{#each  station.readings}}
              {{windSpeed}},
            {{/each}}
          ]
        }
      ]
    };
    let start_date = Date()-12;
    let end_date = Date() ;
    let trendChart = new frappe.Chart("#chart", {
      data: dataTemp,
      start : start_date,
      end : end_date,
      title: "Trend",
      type: "line",
      height: 180,
      colors: ["red"],
      valuesOverPoints: 1
    });

    function selectData() {
      let sValue = document.getElementById("optTrend").value;
      let lblUnits = document.getElementById("units");
      let lblmaxDate = document.getElementById("maxDate");

      switch (sValue) {
        case "Temperature":
          trendChart.title = "Temperature Trend ";
          trendChart.update(dataTemp);
          lblUnits.textContent = "Unit: Deg C";
          break;

        case "Wind":
          trendChart.title = "Wind Speed Trend ";
          trendChart.update(dataWind);
          lblUnits.textContent = "Unit: kph";
          break;

        case "Pressure":
          trendChart.title = "Pressure Trend ";
          trendChart.update(dataPressure);
          lblUnits.textContent = "Unit: +1000 kPa";

          break;

        default:
          // code block Default
          trendChart.title = "Temperature Trend ";
          trendChart.update(dataTemp);
          lblUnits.textContent = "Unit: Deg C";
          break;
      }
      lblmaxDate.textContent = trendChart.end;
    }

  </script>
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column">
        <p><span class="ui large blue text">Currently Trending</span></p>
      </div>
      <div class="four wide column">
        <select class="ui fluid search dropdown" id="optTrend" onchange="selectData()">
          <option value="Temperature">Temperature</option>
          <option value="Wind">Wind Speed</option>
          <option value="Pressure">Pressure</option>
        </select>
      </div>
      <div class="four wide column">
        <p><span class="ui large blue text"><label id="units">Unit : Deg C</label> </span></p>
      </div>
      <div class="four wide column">
        <p><span class="ui large blue text"><label id="maxDate"> ------ </label></span></p>
      </div>
    </div>
  </div>
</div>

